<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.electricassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectricAssistant">
        <activity
            android:name=".home.EditHomeActivity"
            android:exported="true" />
        <activity
            android:name=".setting_gauge_activity.GaugeSettingActivity"
            android:exported="true" />
        <activity
            android:name=".home.AddHomeActivity"
            android:exported="true" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".setting_activity.DataSettingActivity"
            android:exported="true" />
        <activity
            android:name=".setting_activity.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>